name = "mcp-remote"
main = "src/index.ts"
compatibility_date = "2024-12-01"

routes = [
  { pattern = "mcp.entrained.ai", custom_domain = true }
]

[vars]
GOODFAITH_API = "https://goodfaith.entrained.ai/api"
AUTH_API = "https://auth.entrained.ai/api"
